* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #d9d9d9;
}
:root {
  --main-color: #ff723e;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 70px 20px !important;
}
/* start header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
.special {
  color: var(--main-color);
}
/* start main and header */

main {
  position: relative;
  height: 100vh;
  background: rgba(0 0 0 / 40%);
}

main .main-nav {
  width: 100%;
  background: #d9d9d980;
  backdrop-filter: blur(5px);
  height: 70px;
  box-shadow: 0 1px 8px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
main .main-nav ul {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
main .main-nav ul li {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-nav ul li a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
}
main .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .content .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .content .social a {
  cursor: pointer;
  transition: 0.5s;
}
main .content .social a:hover {
  scale: 1.1;
}
main .content .social a img {
  width: 50px;
}

main .content .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d9d9d99b;
  backdrop-filter: blur(1px);
  box-shadow: 0 3px 100px #d9d9d9;
  padding: 20px;
  font-size: 30px;
  color: white;
  width: 750px;
  max-width: 90%;
  text-align: center;
  border-radius: 5px;
  direction: rtl;
  z-index: 1;
}
main .content .info img {
  width: 200px;
  margin: 0 auto;
}
main .img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -5;
}
main .main-nav .mobile {
  display: none;
}
/* start media */

@media (max-width: 700px) {
  main .content .info {
    flex-direction: column;
    gap: 10px;
  }
  main .main-nav .mobile {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  main .main-nav .mobile .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  main .main-nav .mobile .menu div {
    width: 27px;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: 0.5s all;
  }
  main .main-nav .mobile .menu div.active-one.active-two {
    margin-right: 14px;
    background-color: var(--main-color);
  }
  main .main-nav .mobile .logo {
    width: 50px;
  }
  main .main-nav ul li {
    height: 20px;
  }
  main .main-nav ul li a {
    font-size: 25px;
  }
  main .main-nav ul {
    height: 100vh;
    background-color: var(--main-color);
    position: fixed;
    left: -100%;
    transition: 0.5s all;
    flex-direction: column;
  }
  main .main-nav ul.show {
    left: 0;
  }
}
@media (max-width: 500px) {
  main .content .info {
    font-size: 20px;
  }
  main .content .info img {
    width: 150px;
  }
}
/* start who we are section */
.who_we_are {
}
.who_we_are .container {
  display: flex;
}
.who_we_are .container .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 500px;
}
.who_we_are .container .img img {
}
.who_we_are .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.who_we_are .container .content .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 25px;
}
.who_we_are .container .content .box h3 {
  font-size: 25px;
  font-weight: bolder;
}
.who_we_are .container .content .box p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* start media */
@media (max-width: 800px) {
  .who_we_are .container .img {
    display: none;
  }
  .who_we_are .container .content .box h3 {
    font-size: 20px;
  }
  .who_we_are .container .content .box p {
    font-size: 18px;
    line-height: 1.6;
  }
}
/* start why us section */
.why_us {
  background: rgba(0 0 0 / 40%);
  position: relative;
}
.why_us .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.why_us .special {
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid var(--main-color);
  font-size: 36px;
  padding-bottom: 5px;
  font-weight: bolder;
}
.why_us .container {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.why_us .container .box {
  width: 280px;
  max-width: 95%;
  height: 300px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background: #d9d9d9a3;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 10px 12px;
}
.why_us .container .box .icon {
  width: 100px;
}
.why_us .container .box .icon img {
  border-radius: 50%;
}
.why_us .container .box h3 {
  color: var(--main-color);
  width: fit-content;
  margin: 30px auto 10px auto;
  font-weight: bolder;
  font-size: 25px;
}
.why_us .container .box P {
  width: 100%;
  text-align: center;
  line-height: 1.6;
  font-weight: bold;
}
/* start media */
@media (max-width: 650px) {
  .why_us .container .box {
    width: 400px;
  }
}
/* start questions */
.questions {
}
.questions .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions .container .img {
  width: 50%;
}

.questions .container .img img {
  width: 100%;
  height: 100%;
}

.questions .container .accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 700px;
}
.questions .container .accordion .box {
  width: 500px;
  max-width: 95%;
  position: relative;
}
.questions .container .accordion .box .label {
  position: relative;
  padding: 10px;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  direction: rtl;
}
.questions .container .accordion .box .label::after {
  content: "+";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 1.5em;
}
.questions .container .accordion .box .content {
  background-color: white;
  height: 0px;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s all ease-in-out;
  direction: rtl;
}

.questions .container .accordion .box .content::-webkit-scrollbar {
  width: 0;
}
.questions .container .accordion .box.active-accordion .content {
  padding: 10px;
  height: 100px;
}
.questions .container .accordion .box.active-accordion .label::after {
  content: "-";
}
/* start media */
@media (max-width: 1000px) {
  .questions .container .accordion .box {
    width: 400px;
  }
  .questions .container .img {
    width: 70%;
  }
}
@media (max-width: 780px) {
  .questions .container .img {
    display: none;
  }
  .questions .container .accordion .box {
    width: 700px;
    max-width: 95%;
  }
}
/* start contact */

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  max-width: 95%;
  background: #d9d9d980;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 15px 0;
  box-shadow: 0 0.2px 3px;
}
.contact form .logo {
  width: 200px;
}
.contact form .logo img {
  width: 100%;
  height: 100%;
}
.contact form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact form .inputs input {
  width: 500px;
  max-width: 100%;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  direction: rtl;
}
.contact form .inputs input::placeholder {
}
.contact form .inputs button {
  outline: none;
  border: none;
  color: var(--main-color);
  width: 100px;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
/* start footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
  color: white;
}
footer h3 {
  font-weight: bold;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer div a {
}
footer div a img {
  width: 30px;
}
